<%- include('../partials/head')  %>
<%- include('../partials/navbar')  %>

  <% if (err) { %>
    <h3><%= err %></h3>
  <%} %>
  <div class="container">
    <div class="row">
      <% topTracks.data.forEach(top => { %>
        <div class="col-sm-4">
          <div class="card" style="margin-bottom: 2rem">
            <img class="card-img-top" src="<%= top.artist.picture_big %>" alt="Card image cap">
            <div class="card-body">
          <h5 class="card-title"><%= top.title %></h5>
          <p class="card-text"><%= top.artist.name  %></p>
          <audio controls>
            <source src="<%= top.preview %>" type="audio/mpeg">
          Your browser does not support the audio element.
          </audio>
          <form action="users/add-to-playlist" method="POST">
            <button type="submit" class="btn btn-primary" name="trackId" value="<%= top.id %>">Add To Playlist</button>
          </form>
            </div>
          </div>
        </div>
      <% }) %>
    </div>
  </div>

<%- include('../partials/footer')  %>
